@model List<Reservation>

<h1>List of available reservations</h1>
<a class="btn btn-primary" asp-action="AddReservation" asp-controller="Reservations">Offer Reservation</a>

<br />
<br />
<br />
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <label>Search by:</label>
            <select name="SearchField" class="form-select">
                <option value="Voivodeship" selected="@(ViewData["CurrentField"]?.ToString() == "Voivodeship" ? "selected" : null)">Voivodeship</option>
                <option value="City" selected="@(ViewData["CurrentField"]?.ToString() == "City")">City</option>
                <option value="StreetAndNumber" selected="@(ViewData["CurrentField"]?.ToString() == "StreetAndNumber")">Street and Number</option>
                <option value="DateAndTime" selected="@(ViewData["CurrentField"]?.ToString() == "DateAndTime")">Date and Time</option>
                <option value="AvailableTime" selected="@(ViewData["CurrentField"]?.ToString() == "AvailableTime")">Available Time</option>
                <option value="NumberOfSeats" selected="@(ViewData["CurrentField"]?.ToString() == "NumberOfSeats")">Number of Seats</option>
                <option value="PricePerHour" selected="@(ViewData["CurrentField"]?.ToString() == "PricePerHour")">Price per Hour</option>
                <option value="UserEmail" selected="@(ViewData["CurrentField"]?.ToString() == "UserEmail")">User Email</option>
            </select>
        </p>
        <p>
            <label>Search value: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" /></label>
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Reset</a>
        </p>
    </div>
</form>

@if(Model.Count > 0)
{
    <table class="table"> 
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["VoivodeshipSortParm"]">@Html.DisplayNameFor(model => model[0].Voivodeship)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["CitySortParm"]">@Html.DisplayNameFor(model => model[0].City)</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].StreetAndNumber)
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateAndTimeSortParm"]">@Html.DisplayNameFor(model => model[0].DateAndTime)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["AvailableTimeSortParm"]">@Html.DisplayNameFor(model => model[0].AvailableTime)</a> 
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NumberOfSeatsSortParm"]">@Html.DisplayNameFor(model => model[0].NumberOfSeats)</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Comment)
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["PricePerHourSortParm"]">@Html.DisplayNameFor(model => model[0].PricePerHour)</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].UserEmail)
                </th>
                <th>
                    Book now 
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in @Model)
            {
            <tr>
            <td>@reservation.Voivodeship</td>
            <td>@reservation.City</td>
            <td>@reservation.StreetAndNumber</td>
            <td>@reservation.DateAndTime</td>
            <td>@reservation.AvailableTime min</td>
            <td>@reservation.NumberOfSeats</td>
            <td>@reservation.Comment</td>
            <td>@reservation.PricePerHour $</td>
            <td>@reservation.UserEmail</td>
@*          <td><button class="btn btn-primary" asp-action="BookNow" asp-controller="Reservations" asp-route-id="@reservation.ReservationId">Book</button></td> *@
            <td>
                        <form asp-action="BookNow" asp-controller="Reservations" method="post">
                            <input type="hidden" name="id" value="@reservation.ReservationId" />
                            <button type="submit" class="btn btn-primary">Book</button>
                        </form>
            </td>
            </tr>
            }
        </tbody>

    </table>
}

