@model List<Reservations>

<h1>List of current reservations</h1>
<a class="btn btn-primary" asp-action="AddReservation" asp-controller="Reservations">Offer Reservation</a>

@if(Model.Count > 0)
{
    <table class="table"> 
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Voivodeship)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].StreetAndNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].DateAndTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].AvailableTime) 
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].NumberOfSeats)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Comment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].PricePerHour)
                </th>
                <th>
                    Offerrour profile
                </th>
                <th>
                    Book now 
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in @Model)
            {
            <tr>
            <td>@reservation.Voivodeship</td>
            <td>@reservation.City</td>
            <td>@reservation.StreetAndNumber</td>
            <td>@reservation.DateAndTime</td>
            <td>@reservation.AvailableTime min</td>
            <td>@reservation.NumberOfSeats</td>
            <td>@reservation.Comment</td>
            <td>@reservation.PricePerHour $</td>
            </tr>
            }
        </tbody>

    </table>
}

